logs/
*models*/
*build*/

*.pyc

.project
.pydevproject
*.opensdf
*.cxx
*.sdf
*.user
*.o
*.so
*.cxx
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm

.vscode/
.idea/
.vs/
__pycache__/
output/
output_0824/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/

DeepMimicCore/DeepMimicCore.py
DeepMimicCore/Main
Main
*trajs/

*.DS_Store
*.dylib
*.train
cmake-build*
*npz
data/path*/
data/id_test*/
data/batch_train_data
supervised_output