*.pyc

.project
.pydevproject
*.opensdf
*.sdf
*.user
*.o
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm

.vscode/
.idea/
.vs/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/

DeepMimicCore/DeepMimicCore.py
